<form [formGroup]="ticketForm" (submit)="onSubmit()" class="form">
    <div class="ui input">
        <input class="my-input" type="text" formControlName="urlImage" />
        <input class="my-input" type="number" formControlName="nbLefts" />
        <input class="my-input" type="text" formControlName="name" />
        <textarea class="my-input" type="text" formControlName="description"></textarea>
      </div>
    
      <button class="ui primary button" type="submit" *ngIf="!loading" [disabled]="!ticketForm.valid">Sauvegarder</button>
      <app-loading *ngIf="loading"></app-loading>
</form>